body {
    background-image: url(../../accounts/static/img/funky-lines.png);
}

.logo {
    font-family: 'Bevan', cursive;
    font-size: 3em;

}

.logo a {
    color: rgba(0, 0, 0, .9);
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}