<div class="modal" tabindex="-1" role="dialog" id="ajaxSmsCode">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Check you phone. As soon as you receive an sms enter the code in your profile or here. It is needed to access the API.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="close_modal_sms">Cool!</button>
            </div>
        </div>
    </div>
</div>