{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{% block title %}Receipts{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Bevan" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/popper.min.js' %}"></script>

    {% block stylesheet %}{% endblock %}  <!-- HERE -->

</head>
<body>
{% block body %}
    {% include 'modal.resetSmsCode.html' %}
    {% include 'modal.saveNewSmsCode.html' %}
    <header class="mb-4">
        <nav class="navbar navbar-expand-sm navbar-dark bg-blue" id="mynav">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">Receipts</a>
                <nav class="navbar navbar-expand-lg navbar-light bg-blue">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav" id="myTab">
                            <li class="nav-item"><a class="nav-link" id="my-font" href="{% url 'from_string' %}">Чек из
                                строки</a></li>
                            <li class="nav-item"><a class="nav-link" id="my-font" href="{% url 'from_qr' %}">Чек по QR коду</a></li>
                            <li class="nav-item"><a class="nav-link" id="my-font" href={% url 'receipts' %}>Мои чеки</a></li>
                        </ul>
                    </div>
                </nav>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                        aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainMenu">
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="btn btn-secondary dropdown-toggle" href="#" id="userMenu"
                                   data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    {{ user.username }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                    <a class="dropdown-item" href={% url 'password_change' %}>Change password</a>
                                    <a id="reset_sms" class="dropdown-item" href="#">Get another sms</a>
                                    <a id="changeSmsCode" class="dropdown-item" href="#">Change sms-code</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                                </div>
                            </li>
                        </ul>
                    {% else %}
                        <form class="form-inline ml-auto">
                            <a href="{% url 'login' %}" class="btn btn-info">Log in</a>
                            <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
                        </form>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        {% block content %}
            {% if user.is_authenticated %}
                {% include 'includes/receipt.html' %}

            {% endif %}
        {% endblock %}
    </div>
    <main>
        <div class="container">
            {% block data %}
            {% endblock data %}
        </div>
    </main>
    <footer>
    </footer>
{% endblock body %}
<script type='text/javascript'
        src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
